.panel.right(ng-class="{ 'full': showFullChat }")
    #chat
        table.table
            tr(ng-repeat="message in selectedChat.messages")
                td(style="width: 40px")
                    img.img-responsive.img-circle(
                        style="width: 30px"
                        ng-src="{{ gravatar(message.from.email) }}"
                    )
                td(style="width: 90px"): small {{ message.from.display }}
                td(ng-bind-html="trustAsHtml(marked(emo(message.content)))")

    input.form-control(
        type="text"
        ng-model="textInput"
        placeholder="Text input"
        ap-enter="sendMessage(textInput); textInput = '';"
        ng-show="selectedChat"
    )

