.panel.right.animated(
    ng-show="client.isConnected()"
    ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }"
)
    
    ap-chat#chat(
        ap-drop="onDropUpload"
        ap-onscrolltop="loadBackMessages"
    )
        
        table#chat-table.table(ng-show="!showSettings")

            //- Messages
            tr.animated.fadeIn(ng-repeat="message in selectedChat.messages")
                //- avatar for remote party
                td(width="60px")
                    img.img-circle(
                        style="width: 48px"
                        ap-avatar email="message.from.email"
                        ng-click="switchChat(message.from._id)"
                        ng-class="{ clickable: message.from._id !== account._id }"
                    )

                td
                    h6 {{ message.from.display }}
                    ap-message(ap-content="message.content.text" ap-file="message.file")
                td.align-right(width="90px")
                    small: small.help-block: {{ message.created | readableDate }}
            tr.chatstate
                td(colspan="3" width="100%")
                    

        //- Settings panel
        #settings.animated.fadeIn(ng-show="showSettings")
            include settings.jade

    .textarea-container(ng-show="selectedChat && selectedChat._id && !showSettings")
        .chatstate
            //- display when someone is typing
            img.img-circle(
                ng-repeat="(key, obj) in selectedChat.chatstate" ng-if="obj"
                style="width: 24px"
                ap-avatar email="recents[key].email"
                ng-class="{ 'animated swing infinite': obj.value === 'composing' }"
            )
        button.btn.btn-default(
            ap-upload="onDropUpload"
        ): i.fa.fa-upload
        textarea#textInput(
            ng-model="textInput"
            placeholder="Type text, markdown, paste images, or drag files"
            ap-enter="sendMessage(textInput); textInput = '';"
            ap-paste="onPasteUpload"
            ap-drop="onDropUpload"
            ng-keyup="isTyping()"
        )



    //- Notifications

    .notify(ng-show="(activeCall && !hideCallPanel) || pendingUploads")
        
        //- File upload
        .middle.left(ng-show="pendingUploads")
            i.fa.fa-long-arrow-up
            | &nbsp;&nbsp;
            | Processing {{ pendingUploads }} {{ pendingUploads === 1 ? 'file' : 'files' }}...

        //- Call
        #audio-call-controls.middle.row(ng-show="activeCall && !hideCallPanel")
            .col-xs-7
                span(ng-show="!incomingCall && !callIsRinging") On a call with
                span(ng-show="callIsRinging") Placing a call to
                strong(style="display:block") {{ recents[activeCall.remoteEndpoint.id].display }}
                span(ng-show="incomingCall") is calling you

            .col-xs-5.align-right
                //- hang up
                button.btn.btn-default.btn-sm(ng-click="hangup()") Hang up
                
                //- answer
                button.btn.btn-default.btn-sm(
                    ng-click="answer();"
                    ng-show="incomingCall"
                ) Answer

                //- Join video call
                a.btn.btn-primary.btn-sm(
                    href="/private"
                    ng-show="activeCall.hasVideo"
                    target="_blank") Join video call
            
                
