.panel.right(ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }")
    #chat
        table.table
            tr.animated.fadeIn(ng-repeat="message in selectedChat.messages")
                //- avatar for remote party
                td(width="40px"): small
                    img.img-responsive.img-circle(
                        style="width: 30px"
                        ng-src="{{ gravatar(message.from.email) }}"
                    )
                    small.help-block {{ message.from.display }}

                td(ng-bind-html="trustAsHtml(marked(emo(message.content)))")
                td.align-right(width="90px")
                    small: small.help-block {{ moment(message.created).fromNow() }}

        #settings.animated.fadeIn(ng-show="showSettings")
            include settings.jade

    textarea.form-control(
        ng-model="textInput"
        placeholder="Text input"
        ap-enter="sendMessage(textInput); textInput = '';"
        ng-show="selectedChat"
        ap-paste="onPasteUpload"
    )

