.panel.right.animated(
    ng-show="client.isConnected()"
    ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }"
)
    //- Chat Header
    #chat-header: table.table(ng-show="!hideCallPanel")
        tr.animated.fadeIn(ng-show="showSettings")
            td: strong Settings
            td
            td.align-right
                button.btn.btn-salmon-inverse.btn-sm(ng-click="toggleSettings()") Close
        
        //- Primary header element
        tr#chat-header-main.animated.fadeInDown.faster(
            ng-show="!pendingUploads && !activeCall && !showSettings"
        )
            td
                img(src="/img/apollo-a.png" ng-if="!selectedChat")
                i.fa.fa-comments.fa-3x(ng-if="selectedChat && !selectedChat.email")
                img(
                    ng-if="selectedChat && selectedChat.email"
                    ap-avatar email="selectedChat.email"
                )
            td
                strong(ng-show="selectedChat && selectedChat.display")
                    | Conversation with {{ selectedChat.display }}
                strong(ng-show="selectedChat && !selectedChat.display")
                    | {{ selectedChat._id }}
            td
                div(ng-show="selectedChat && isAllowedToCall(selectedChat)")
                    //- audio call
                    button.btn.btn-salmon.btn-sm(
                        ng-click="audioCall(selectedChat._id)"
                    ): i.fa.fa-phone.fa-lg
                    //- video call
                    button.btn.btn-salmon.btn-sm(
                        ng-click="videoCall(selectedChat._id)"
                    ): i.fa.fa-video-camera.fa-lg
                //- Group buttons
                div(ng-show="selectedChat && !selectedChat.display")
                    button.btn.btn-salmon.btn-sm(
                        ng-click="toggleGroupMute(selectedChat._id)"
                    )
                        i.fa.fa-bell.fa-lg(
                            ng-show="!account.settings.mutedGroups || account.settings.mutedGroups.indexOf(selectedChat._id) === -1"
                        )
                        i.fa.fa-bell-slash.fa-lg(
                            ng-show="account.settings.mutedGroups && account.settings.mutedGroups.indexOf(selectedChat._id) !== -1"
                        )
        
        //- File upload
        tr.notify.animated.fadeInDown.faster(ng-show="pendingUploads")
            td
                i.fa.fa-upload
            td(colspan="2")
                | Processing {{ pendingUploads }} {{ pendingUploads === 1 ? 'file' : 'files' }}...
            
        //- Call
        tr#audio-call-controls.notify.animated.fadeInDown.faster(ng-show="activeCall")
            td
                i.fa.fa-phone.fa-3x(
                    ng-show="(incomingCall && !activeCall.incomingMedia.hasVideo()) || (callIsRinging && !activeCall.outgoingMedia.hasVideo())"
                )
                i.fa.fa-video-camera.fa-3x(
                    ng-show="activeCall.incomingMedia.hasVideo()"
                )
                
                ap-audioviz(
                    ng-if="activeCall.incomingMedia.stream && !activeCall.incomingMedia.hasVideo()"
                    stream1="activeCall.incomingMedia.stream"
                    stream2="activeCall.outgoingMedia.stream"
                )
            td
                span(ng-show="!incomingCall && !callIsRinging")
                    | {{ activeCall.incomingMedia.hasVideo() ? 'Video' : 'Audio'}} call with
                span(ng-show="callIsRinging")  Placing {{ activeCall.incomingMedia.hasVideo() ? 'video' : '' }} call to
                span  {{ recents[activeCall.remoteEndpoint.id].display }}
                span(ng-show="incomingCall")  is calling you

            td
                //- Answer
                button.btn.btn-salmon.btn-xs(
                    ng-click="answer();"
                    ng-show="incomingCall"
                ) Answer
                
                //- Mute
                button#toggle-audio.btn.btn-salmon.btn-xs(
                    ng-show="!incomingCall && !callIsRinging && activeCall.outgoingMedia.stream"
                    ng-click="activeCall.toggleAudio()"
                )
                    i.fa.fa-microphone.fa-lg(ng-show="!activeCall.outgoingMedia.isAudioMuted()")
                    i.fa.fa-microphone-slash.fa-lg(ng-show="activeCall.outgoingMedia.isAudioMuted()")
                
                //- Hang up
                button.btn.btn-salmon.btn-xs(ng-click="hangup()") {{ incomingCall ? 'Decline' : 'Hang up' }}

                //- Join video call
                a.btn.btn-primary.btn-xs(
                    href="/private"
                    ng-show="activeCall.hasVideo"
                    target="_blank"): i.fa.fa-external-link
    
    ap-chat#chat(
        ap-drop="onDropUpload"
        ap-onscrolltop="loadBackMessages"
        ng-class="{ 'no-bottom': showSettings }"
    )
        
        //- Chat
        table#chat-table.table(ng-show="!showSettings")

            //- Messages
            tr.animated.fadeInUp.faster(ng-repeat="message in selectedChat.messages" ng-init="notSameFrom = message.from._id !== selectedChat.messages[$index -1].from._id")
                //- avatar for remote party
                td
                    img.img-thumbnail(
                        ap-avatar email="message.from.email"
                        ng-click="switchChat(message.from._id)"
                        ng-class="{ clickable: message.from._id !== account._id }"
                        ng-if="notSameFrom"
                    )

                td
                    h6(ng-if="notSameFrom") {{ message.from.display }}
                    ap-message(ap-content="message.content.text" ap-file="message.file")
                td.align-right
                    span.chat-date(ap-date="message.created")
                    

        //- Settings panel
        #settings.animated.fadeIn(ng-show="showSettings")
            include settings.jade
    
    //- Text input
    .textarea-container(ng-show="selectedChat && selectedChat._id && !showSettings")
        
        //- display when someone is typing
        .chatstate
            img.img-thumbnail(
                ng-repeat="(key, obj) in selectedChat.chatstate" ng-if="obj"
                ap-avatar email="recents[key].email"
            )

        //- Mentioning somebody with @
        mentio-menu#mentions(
            mentio-typed-text="typedTerm"
            mentio-search="getMentionList(term)"
            mentio-select="selectedMention(item)"
            mentio-for="'textInput'"
            mentio-trigger-char="'@'"
            mentio-template-url="/partials/mentions.html"
            mentio-items="allRecents"
        )
        button#upload-button.btn.btn-default(
            ap-upload="onDropUpload"
        ): i.fa.fa-paperclip
        button#macro-button.btn.btn-default(
            ng-click="showMacroHelp = !showMacroHelp"
        ): i.fa.fa-smile-o
        textarea#textInput(
            ng-model="textInput"
            ng-show="!showMacroHelp"
            placeholder="Type markdown, @mention, & drag files"
            ap-enter="sendMessage(textInput); textInput = '';"
            ap-paste="onPasteUpload"
            ap-drop="onDropUpload"
            ng-keyup="isTyping()"
            
            mentio
        )
        #macro-help(
            ng-show="showMacroHelp"
        )
            .macro-preview.clickable.hover(
                ng-repeat="macro in macros"
                ng-click="addMacro(macro);"
            )
                i.fa(ng-bind-html="macro.display | unsafe")
                | &nbsp;{{ macro.name }}
                em &nbsp;{{ macro._id }}
                
