.panel.right.animated(
    ng-show="client.isConnected()"
    ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }"
)
    //- Chat Header
    #chat-header: table.table(ng-show="!hideCallPanel")
        
        //- Primary header element
        tr#chat-header-main
            td
                img(src="/img/apollo-a.png")
            td
                span(ng-show="selectedChat && selectedChat.display")
                    | Conversation with {{ selectedChat.display }}
                span(ng-show="selectedChat && !selectedChat.display")
                    | {{ selectedChat._id }}
            td.call-buttons
                div(ng-show="selectedChat && isAllowedToCall(selectedChat)")
                    //- audio call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="audioCall(item._id)"
                    ): i.fa.fa-phone
                    //- video call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="videoCall(item._id)"
                    ): i.fa.fa-video-camera
        
        //- File upload
        tr.notify(ng-show="pendingUploads")
            td
                i.fa.fa-long-arrow-up
            td(colspan="2")
                | Processing {{ pendingUploads }} {{ pendingUploads === 1 ? 'file' : 'files' }}...
            
        //- Call
        tr#audio-call-controls.notify(ng-show="activeCall")
            td
                ap-audioviz(
                    ng-if="activeCall.incomingMedia.stream || activeCall.outgoingMedia.stream"
                    stream1="activeCall.incomingMedia.stream"
                    stream2="activeCall.outgoingMedia.stream"
                )
            td
                span(ng-show="!incomingCall && !callIsRinging") On a call with
                span(ng-show="callIsRinging")  Placing a call to
                span  {{ recents[activeCall.remoteEndpoint.id].display }}
                span(ng-show="incomingCall")  is calling you

            td.align-right
                //- hang up
                button.btn.btn-default.btn-sm(ng-click="hangup()") Hang up
                
                //- answer
                button.btn.btn-default.btn-sm(
                    ng-click="answer();"
                    ng-show="incomingCall"
                ) Answer

                //- Join video call
                a.btn.btn-primary.btn-sm(
                    href="/private"
                    ng-show="activeCall.hasVideo"
                    target="_blank") Join video call
    
    ap-chat#chat(
        ap-drop="onDropUpload"
        ap-onscrolltop="loadBackMessages"
    )
        
        //- Chat
        table#chat-table.table(ng-show="!showSettings")

            //- Messages
            tr.animated.fadeInUp.faster(ng-repeat="message in selectedChat.messages" ng-init="notSameFrom = message.from._id !== selectedChat.messages[$index -1].from._id")
                //- avatar for remote party
                td
                    img.img-thumbnail(
                        ap-avatar email="message.from.email"
                        ng-click="switchChat(message.from._id)"
                        ng-class="{ clickable: message.from._id !== account._id }"
                        ng-if="notSameFrom"
                    )

                td
                    h6(ng-if="notSameFrom") {{ message.from.display }}
                    ap-message(ap-content="message.content.text" ap-file="message.file")
                td.align-right
                    span.chat-date(ap-date="message.created")
                    

        //- Settings panel
        #settings.animated.fadeIn(ng-show="showSettings")
            include settings.jade
    
    //- Text input
    .textarea-container(ng-show="selectedChat && selectedChat._id && !showSettings")
        
        //- display when someone is typing
        .chatstate
            img.img-thumbnail(
                ng-repeat="(key, obj) in selectedChat.chatstate" ng-if="obj"
                ap-avatar email="recents[key].email"
                ng-class="{ 'animated pulse infinite': obj.value === 'composing' }"
            )

        //- Macros
        mentio-menu#macros(
            mentio-typed-text="typedTerm"
            mentio-search="searchMacros(term)"
            mentio-select="selectedMacro(item)"
            mentio-for="'textInput'"
            mentio-trigger-char="':'"
            mentio-template-url="/partials/macros.html"
            mentio-items="macros | filter:label:typedTerm"
        )

        //- Mentioning somebody with @
        mentio-menu#mentions(
            mentio-typed-text="typedTerm"
            mentio-search="getMentionList(term)"
            mentio-select="selectedMention(item)"
            mentio-for="'textInput'"
            mentio-trigger-char="'@'"
            mentio-template-url="/partials/mentions.html"
            mentio-items="allRecents"
        )
        button#upload-button.btn.btn-default(
            ap-upload="onDropUpload"
        ): i.fa.fa-upload
        textarea#textInput(
            ng-model="textInput"
            placeholder="Type text, markdown, paste images, or drag files"
            ap-enter="sendMessage(textInput); textInput = '';"
            ap-paste="onPasteUpload"
            ap-drop="onDropUpload"
            ng-keyup="isTyping()"
            
            mentio
        )
            
                
