.panel.left(ng-class="{ 'full': showFullChat }")
    input.form-control(type="text" placeholder="Search for friends and conversations")
    
    //- Adding a group
    button.btn.btn-primary.btn-block.btn-sm(
        ng-show="!showCreateGroup"
        ng-click="showCreateGroup = true"
    ) Create a new group +

    .animated(ng-show="showCreateGroup" ng-class="{ 'flipInX': showCreateGroup }")
        input.form-control(ng-model="newGroupName" autofocus placeholder="Group name")
        button.btn.btn-primary.btn-block.btn-sm(
            ng-click="createGroup(newGroupName); newGroupName = ''; showCreateGroup = false;"
        ) Create
        button.btn.btn-default.btn-block.btn-sm(ng-click="showCreateGroup = false; newGroupName = '';")
            | Cancel

    //- Display group and buddy list
    table.table
        tr.clickable(
            ng-repeat="(id, item) in recents | orderRecents"
            ng-if="id !== account._id"
            ng-class="{ 'offline': item.presence === 'unavailable', 'selectedRecent': selectedChat._id === item._id }"
            ng-click="switchChat(item.display ? item._id : 'group-' + item._id)"
        )
            td.col-xs-3.center
                i.fa.fa-group.fa-3x(ng-if="!item.email")
                img.img-responsive.img-circle(ng-if="item.email" ng-src="{{ gravatar(item.email) }}")
            td
                h6 {{ item.display || item._id }}
                p(ng-if="item.presence") {{ item.presence }}
            td
                span.badge(ng-if="item.unread && selectedChat._id !== item._id") {{ item.unread }}
