#not-connected.animated.center.on-top.relative(ng-show="!client.isConnected()")
    br
    h1.lightweight.pulse.infinite.slowly #{config.name}
    br
    br
    br
    br
    button.btn.btn-xs.btn-default(ng-click="respokeConnect()") reconnect

.panel.left.animated.fadeInRightBig(
    ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }"
    ng-show="client.isConnected()"
) 
    
    //- User account and settings
    .row
        #avatar-section.col-xs-3
            //- Presence
            img#selfie.img-responsive.img-circle.clickable(
                ap-avatar email="account.email"
                data-toggle="dropdown"
                class="{{ recents[account._id].presence ? 'animated pulse slower ' + recents[account._id].presence : '' }}"
            )
            ul.dropdown-menu.animated.fadeInLeft.faster
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('available')"
                    href="javascript:void(0)"
                )
                    ap-presence(presence="{{'available'}}")
                    | available
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('busy')"
                    href="javascript:void(0)"
                )
                    ap-presence(presence="{{'busy'}}")
                    | busy
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('away')"
                    href="javascript:void(0)"
                )
                    ap-presence(presence="{{'away'}}")
                    | away



        #me-section.col-xs-9.clickable(
            ng-mouseover="showSettingsDisplayIcon = true"
            ng-mouseout="showSettingsDisplayIcon = false"
            ng-click="toggleSettings()"
        )
            //- Display name
            
            h3 {{ account.display.split(' ')[0] }}&nbsp;&nbsp;
                i.fa.fa-cog.fa-sm(ng-show="showSettingsDisplayIcon && !showSettings")
            h6 {{ account.display.indexOf(' ') !== -1 ? account.display.substring(account.display.indexOf(' ') + 1) : '' }}
                

    br

    input#recents-query.form-control(
        type="text" 
        placeholder="Search for friends and conversations"
        ng-model="recentQuery"
    )

    //- Adding a group
    #newgroup
        button.btn.btn-primary.btn-block.btn-sm(
            ng-show="!showCreateGroup"
            ng-click="showCreateGroup = true"
        ) Create a new group +

        .animated(ng-show="showCreateGroup" ng-class="{ 'flipInX': showCreateGroup }")
            input.form-control(ng-model="newGroupName" autofocus placeholder="Group name")
            button.btn.btn-primary.btn-block.btn-sm(
                ng-click="createGroup(newGroupName); newGroupName = ''; showCreateGroup = false;"
            ) Create
            button.btn.btn-default.btn-block.btn-sm(ng-click="showCreateGroup = false; newGroupName = '';")
                | Cancel


    //- Display group and buddy list
    #buddies.scrollable: table.table
        tr.clickable(
            ng-repeat="(id, item) in recents | orderRecents | filter: filterRecents"
            ng-if="item && item._id !== account._id"
            ng-class="{ 'selectedRecent': selectedChat._id === item._id }"
            ng-click="switchChat(item.display ? item._id : 'group-' + item._id)"
        )
            td.col-xs-2.center
                i.fa.fa-group.fa-3x.yellow(ng-if="!item.email")
                img.img-responsive.img-circle(
                    ng-if="item.email"
                    ap-avatar email="item.email"
                )

            td.col-xs-8: h6
                ap-presence(presence="{{ item.presence }}" ng-if="item.presence")
                | &nbsp;&nbsp;{{ item.display || item._id }}

            td.col-xs-2.call-buttons(
                ng-show="item.display && selectedChat._id === item._id && !activeCall && item.display && item.presence !== 'unavailable'"
            )
                    //- audio call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="audioCall(item._id)"
                    ): i.fa.fa-phone
                    //- video call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="videoCall(item._id)"
                    ): i.fa.fa-video-camera

            
            td.col-xs-2.right(ng-show="!item.display || (!activeCall && item._id !== selectedChat._id)")
                small.help-block
                    ap-date(date="{{ item.messages[item.messages.length - 1].created }}" watch="true")
                small.help-block.text-primary(
                    ng-show="item.unread && item._id !== selectedChat._id"
                ) {{ item.unread }} new
