.panel.left.animated.fadeInRightBig(ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }")
    
    //- User account and settings
    .row
        .col-xs-3(ng-show="!activeCall"): img.img-responsive(ng-src="{{ gravatar(account.email) }}")
        .col-xs-9(ng-show="!activeCall")
            //- Display name
            h5(
                ng-mouseover="showEditDisplayIcon = true"
                ng-mouseout="showEditDisplayIcon = false"
                ng-click="newDisplayName = account.display; showEditDisplay = true;"
                ng-hide="showEditDisplay"
            )
                | {{ account.display }}&nbsp;
                i.fa.fa-pencil.fa-sm(ng-show="showEditDisplayIcon")
            input.form-control(type="text"
                ng-model="newDisplayName"
                ng-show="showEditDisplay"
                ap-enter="setDisplayName(newDisplayName); showEditDisplay = false;"
            )

            //- Presence

            button#btn-presence.btn.btn-default.btn-xs(
                data-toggle="dropdown"
                ng-class="{ 'btn-warning': recents[account._id].presence === 'busy', 'btn-danger': recents[account._id].presence === 'away' }"
            )
                | {{ recents[account._id].presence }}&nbsp;&nbsp;
                i.fa.fa-caret-down
            ul.dropdown-menu
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('available')"
                    href="javascript:void(0)"
                ) available
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('busy')"
                    href="javascript:void(0)"
                ) busy
                li: a(
                    tabindex="-1"
                    ng-click="setPresence('away')"
                    href="javascript:void(0)"
                ) away
                
            
            //- Sign out
            button.btn.btn-default.btn-xs(ng-click="logout()"): i.fa.fa-sign-out

            //- Settings
            button#btn-settings.btn.btn-default.btn-xs(
                ng-click="toggleSettings();"
                ng-class="{ 'settings-visible': showSettings }"
            )
                i.fa.fa-cog

        //- Call controls
        #audio-call-controls.col-xs-8(ng-show="activeCall")
            p(ng-show="!incomingCall") On a call with
            h6 {{ recents[activeCall.remoteEndpoint.id].display }} 
            p(ng-show="incomingCall") is calling you
            p
                //- answer
                button.btn.btn-success.btn-xs(
                    ng-click="answer()"
                    ng-show="incomingCall"
                ) Answer

                //- Join video call
                a.btn.btn-primary.btn-xs(
                    href="/private"
                    ng-show="activeCall.hasVideo"
                    target="_blank") Join video call

                //- hang up
                button.btn.btn-danger.btn-xs(ng-click="hangup()") Hang up
                
        .col-xs-3(ng-show="incomingCall")
            br
            img.img-responsive.img-circle.animated.bounce.infinite(
                ng-src="{{ gravatar( recents[activeCall.remoteEndpoint.id].email ) }}"
            )

    br
    //- Adding a group
    #newgroup
        button.btn.btn-primary.btn-block.btn-sm(
            ng-show="!showCreateGroup"
            ng-click="showCreateGroup = true"
        ) Create a new group +

        .animated(ng-show="showCreateGroup" ng-class="{ 'flipInX': showCreateGroup }")
            input.form-control(ng-model="newGroupName" autofocus placeholder="Group name")
            button.btn.btn-primary.btn-block.btn-sm(
                ng-click="createGroup(newGroupName); newGroupName = ''; showCreateGroup = false;"
            ) Create
            button.btn.btn-default.btn-block.btn-sm(ng-click="showCreateGroup = false; newGroupName = '';")
                | Cancel


    input.form-control(
        type="text" 
        placeholder="Search for friends and conversations"
        ng-model="recentQuery"
    )

    //- Display group and buddy list
    #buddies.scrollable: table.table
        tr.clickable(
            ng-repeat="(id, item) in recents | orderRecents | filter: filterRecents"
            ng-if="item._id !== account._id"
            ng-class="{ 'offline': item.presence === 'unavailable', 'selectedRecent': selectedChat._id === item._id }"
            ng-click="switchChat(item.display ? item._id : 'group-' + item._id)"
        )
            td.col-xs-2.center
                i.fa.fa-group.fa-3x(ng-if="!item.email")
                img.img-responsive.img-circle(ng-if="item.email" ng-src="{{ gravatar(item.email) }}")
            td.col-xs-7
                h6 {{ item.display || item._id }}
                p(ng-if="item.presence") {{ item.presence }}
            td.col-xs-3(ng-show="item.display && selectedChat._id === item._id")
                div(ng-show="!activeCall && item.display && item.presence !== 'unavailable'")               
                    //- audio call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="audioCall(item._id)"
                    ): i.fa.fa-phone
                    //- video call
                    button.btn.btn-primary.btn-xs.btn-block(
                        ng-click="videoCall(item._id)"
                    ): i.fa.fa-video-camera

            
            td.col-xs-3(ng-show="!item.display || selectedChat._id !== item._id")
                small
                    small.help-block 
                        | {{ item.messages.length ? moment(item.messages[ item.messages.length -1 ].created).fromNow() : "" }}
                    small.help-block.text-primary(ng-show="item.unread") {{ item.unread }} new
