//- Connecting / not connected
#not-connected.animated.align-center.on-top.relative(ng-if="!client.isConnected()")
    br
    h1.animated.pulse.infinite.slowly.text-embossed #{config.name}
    br
    img.animated.flip.pulse.infinite(src="/img/apollo-plain.png" style="width: 20px; height: 20px")
    br
    span.help-block(ng-show="tokenRefreshInterval") Retrying after {{ tokenRefreshInterval/1000 }} seconds
    button.btn.btn-xs.btn-default(ng-click="respokeConnect()") reconnect

.panel.left.animated.fadeIn(
    ng-class="{ 'full': showFullChat, 'fadeOutLeft': justLoggedOut }"
    ng-show="client.isConnected()"
)

    //- Display group and buddy list
    #buddies.scrollable: table.table
        
        //- mememememe
        thead
            tr
                td.col-xs-2.align-center
                    img(
                        ap-avatar email="account.email"
                    )
                td.col-xs-1.align-center
                    .dropdown
                        ap-presence.clickable(
                            presence="{{ recents[account._id].presence }}"
                            data-toggle="dropdown"
                        )
                        ul.dropdown-menu.animated.fadeIn.faster
                            li: a(
                                tabindex="-1"
                                ng-click="setPresence('available')"
                                href="javascript:void(0)"
                            )
                                ap-presence(presence="{{'available'}}")
                                | available
                            li: a(
                                tabindex="-1"
                                ng-click="setPresence('busy')"
                                href="javascript:void(0)"
                            )
                                ap-presence(presence="{{'busy'}}")
                                | busy
                            li: a(
                                tabindex="-1"
                                ng-click="setPresence('away')"
                                href="javascript:void(0)"
                            )
                                ap-presence(presence="{{'away'}}")
                                | away
                td.col-xs-6.clickable(
                    ng-click="toggleSettings()"
                )
                    h6#own-name {{ account.display }}&nbsp;&nbsp;
                        i.fa.fa-chevron-down-square.fa-sm
                
            tr: td(colspan="3")

                input#recents-query.form-control.input-sm(
                    type="text"
                    placeholder="Search"
                    ng-model="recentQuery"
                )
                button#newgroup.btn.btn-default.btn-sm.btn-block.align-left(
                    ng-click="showCreateGroup = !showCreateGroup"
                    ng-show="!showCreateGroup"
                ) New group


                .animated(
                    ng-show="showCreateGroup"
                    ng-class="{ 'flipInX': showCreateGroup }"
                )
                    input#new-group-input.form-control.input-sm(
                        ng-model="newGroupName"
                        autofocus
                        placeholder="Group name - letters and numbers only"
                    )
                    button.btn.btn-default.btn-sm(ng-click="showCreateGroup = false; newGroupName = '';")
                        | Cancel
                    button.btn.btn-primary.btn-sm(
                        ng-click="createGroup(newGroupName); newGroupName = ''; showCreateGroup = false;"
                    ) Create
        
        tbody
            //- all the other stuff
            
            //- space the top of the sidebar so it is not overlapped by the head
            tr(style="height: 135px")
            
            tr.clickable(
                ng-repeat="(id, item) in recents | orderRecents | filter: filterRecents"
                ng-if="item && item._id !== account._id"
                ng-class="{ 'selectedRecent': selectedChat._id === item._id }"
                ng-click="switchChat(item.display ? item._id : 'group-' + item._id)"
            )
                td.col-xs-2.align-center
                    i.fa.fa-comments.fa-3x(ng-if="!item.email")
                    img(
                        ng-if="item.email"
                        ap-avatar email="item.email"
                    )
                td.col-xs-1.align-center
                    ap-presence(presence="{{ item.presence }}" ng-if="!item.conf && item.presence")
                td.col-xs-6
                    h6 {{ item.display || item._id }}                    
                    small.text-primary(
                        ng-show="item.unread && item._id !== selectedChat._id"
                    ): strong {{ item.unread }} new
                    small(
                        ng-show="!item.unread && item._id !== selectedChat._id"
                        ap-date="item.messages[item.messages.length - 1].created"
                    )
                    i.fa.fa-user.fa-lg(ng-if="item.conf")
                    i.fa.fa-plus-circle(ng-if="item.conf")
