#not-connected.animated.center.on-top.relative(ng-show="!client.isConnected()")
    br
    h1.lightweight.pulse.infinite.slowly #{config.name}
    br
    br
    br
    br
    button.btn.btn-xs.btn-default(ng-click="respokeConnect()") reconnect

.panel.left.animated.fadeInRightBig(
    ng-class="{ 'full': showFullChat, 'fadeOutRightBig': justLoggedOut }"
    ng-show="client.isConnected()"
)

    //- Display group and buddy list
    #buddies.scrollable: table.table
        
        //- mememememe
        tr
            td.col-xs-2.center
                img(
                    ap-avatar email="account.email"
                )
            td.col-xs-1.center
                .dropdown
                    ap-presence.clickable(
                        presence="{{ recents[account._id].presence }}"
                        data-toggle="dropdown"
                    )
                    ul.dropdown-menu.animated.fadeInDown.faster
                        li: a(
                            tabindex="-1"
                            ng-click="setPresence('available')"
                            href="javascript:void(0)"
                        )
                            ap-presence(presence="{{'available'}}")
                            | available
                        li: a(
                            tabindex="-1"
                            ng-click="setPresence('busy')"
                            href="javascript:void(0)"
                        )
                            ap-presence(presence="{{'busy'}}")
                            | busy
                        li: a(
                            tabindex="-1"
                            ng-click="setPresence('away')"
                            href="javascript:void(0)"
                        )
                            ap-presence(presence="{{'away'}}")
                            | away
            td.col-xs-6.clickable(
                ng-mouseover="showSettingsDisplayIcon = true"
                ng-mouseout="showSettingsDisplayIcon = false"
                ng-click="toggleSettings()"
            )
                h6 {{ account.display }}   
                    i.fa.fa-cog.fa-sm(
                        ng-show="showSettingsDisplayIcon && !showSettings"
                    )
            
        tr: td(colspan="3").align-right

            input#recents-query.form-control.input-sm(
                type="text"
                placeholder="Search"
                ng-model="recentQuery"
            )
            button#newgroup.btn.btn-default.btn-xs(
                ng-click="showCreateGroup = !showCreateGroup"
            )
                span(ng-show="!showCreateGroup") Create new
                i.fa.fa-remove(ng-show="showCreateGroup")


            .animated(ng-show="showCreateGroup" ng-class="{ 'flipInX': showCreateGroup }")
                input.form-control(ng-model="newGroupName" autofocus placeholder="Group name")
                button.btn.btn-primary.btn-block.btn-sm(
                    ng-click="createGroup(newGroupName); newGroupName = ''; showCreateGroup = false;"
                ) Create
                button.btn.btn-default.btn-block.btn-sm(ng-click="showCreateGroup = false; newGroupName = '';")
                    | Cancel
        
        //- all the other stuff
        tr.clickable(
            ng-repeat="(id, item) in recents | orderRecents | filter: filterRecents"
            ng-if="item && item._id !== account._id"
            ng-class="{ 'selectedRecent': selectedChat._id === item._id }"
            ng-click="switchChat(item.display ? item._id : 'group-' + item._id)"
        )
            td.col-xs-2.center
                i.fa.fa-group.fa-2x.yellow(ng-if="!item.email")
                img(
                    ng-if="item.email"
                    ap-avatar email="item.email"
                )
            td.col-xs-1.center
                ap-presence(presence="{{ item.presence }}" ng-if="item.presence")
            td.col-xs-6
                h6 {{ item.display || item._id }}                    
                small.text-primary(
                    ng-show="item.unread"
                ): strong {{ item.unread }} new
                small(
                    ng-show="!item.unread && item._id !== selectedChat._id"
                    ap-date="item.messages[item.messages.length - 1].created"
                )
