div(ng-controller="SettingsController")
    p
        i.fa.fa-remove.fa-3x.clickable(ng-click="toggleSettings()")

    //- Sign out
    button.btn.btn-sm.btn-danger.pull-right.clickable(
        ng-click="logout()"
    ) Sign out

    br
    br
    br

    table.table
        tr
            td.col-md-7: label Display name
            td.col-md-5.clickable(
                ng-click="newDisplayName = account.display; showEditDisplay = true;"
            )
                span(ng-show="!showEditDisplay") {{ account.display }}&nbsp;&nbsp;
                    i.fa.fa-edit
                input.form-control.input-sm(type="text"
                    ng-model="newDisplayName"
                    ng-show="showEditDisplay"
                    ap-enter="setDisplayName(newDisplayName); showEditDisplay = false;"
                )

    br
    table.table
        tr
            td.col-sm-7 Group message sounds
            td.col-sm-5
                ap-toggle-setting(key="groupMessageSounds" initial="account.settings.groupMessageSounds")
        tr
            td Private message sounds
            td
                ap-toggle-setting(key="privateMessageSounds" initial="account.settings.privateMessageSounds")
        tr
            td Offline notification emails
            td
                ap-toggle-setting(key="offlineNotifications" initial="account.settings.offlineNotifications")
        tr
            td Allow HTML in emails
            td
                ap-toggle-setting(key="htmlEmails" initial="account.settings.htmlEmails")

    h6 Manage groups
        button.btn.btn-default.btn-sm(ng-click="loadGroups()")
            i.fa.fa-refresh

    p(ng-show="groups && !groups.length"): em You do not own any groups.
    table.table
        tr(ng-repeat="group in groups" ng-init="showConf = false")
            td.col-sm-7 {{ group._id }}
            td.col-sm-5
                button.btn.btn-default.btn-xs(ng-click="showConf = true" ng-show="!showConf")
                    i.fa.fa-remove
                p(ng-show="showConf") Removing a group will remove all files and messages, as well as the group.
                    |  This action cannot be undone.
                    br
                    button.btn.btn-default.btn-xs(ng-click="showConf = false") Cancel
                    button.btn.btn-danger.btn-xs(ng-click="removeGroup(group._id, $index)") DELETE
