extends layout

block content
    #video-call-container(ng-controller="PrivateCallController")
        h3.chat-title(ng-show="errorMessage") {{ errorMessage }}
        h3.chat-title(ng-show="showPromptInstall")
            a(href="https://google.com" target="_blank")
                | Hey, you need to install a plugin before you can screenshare!
            | &nbsp;&nbsp;
            i.fa.fa-remove(ng-click="showPromptInstall = false")

        #respokeLocalVideo.animated.fadeIn.slower(ap-draggable)
            .btn-group
                //- Toggle my audio
                button#toggle-audio.btn.btn-xs(
                    ng-click="activeCall.toggleAudio()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.outgoingMedia.isAudioMuted(), 'btn-default': activeCall.outgoingMedia.isAudioMuted() }"
                )
                    i.fa.fa-microphone-slash.fa-lg(ng-show="!activeCall.outgoingMedia.isAudioMuted()")
                    i.fa.fa-microphone.fa-lg(ng-show="activeCall.outgoingMedia.isAudioMuted()")
                | &nbsp;
                //- Toggle my video
                button#toggle-video.btn.btn-xs(
                    ng-click="activeCall.toggleVideo()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.outgoingMedia.isVideoMuted(), 'btn-default': activeCall.outgoingMedia.isVideoMuted() }"
                )
                    i.fa.fa-video-camera.fa-lg(ng-show="activeCall.outgoingMedia.isVideoMuted()")
                    i.fa.fa-video-camera.fa-lg(ng-show="!activeCall.outgoingMedia.isVideoMuted()")
                
                //- Share my screen
                button.btn.btn-xs(
                    ng-if="!isScreensharing"
                )
                    i.fa.fa-desktop
                
                //- Stop screensharing
                button.btn.btn-xs(
                    ng-if="isScreensharing"
                )
                    i.fa.fa-stop
                
        #respokeRemoteVideo.animated.fadeIn.slower
            
            

        div(ng-show="activeCall")
            include partials/chat

        #video-call-controls(ng-show="activeCall")
            button.btn.btn-xs.btn-salmon(ng-click="hangup()") Hang up
            | &nbsp;
            .btn-group
                //- Toggle remote audio
                button#toggle-audio.btn.btn-xs(
                    ng-click="activeCall.incomingMedia.isAudioMuted() ? activeCall.incomingMedia.unmuteAudio() : activeCall.incomingMedia.muteAudio()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.incomingMedia.isAudioMuted(), 'btn-default': activeCall.incomingMedia.isAudioMuted() }"
                )
                    i.fa.fa-volume-off.fa-lg(ng-show="!activeCall.incomingMedia.isAudioMuted()")
                    i.fa.fa-volume-up.fa-lg(ng-show="activeCall.incomingMedia.isAudioMuted()")
                //- Toggle remote video
                button#toggle-video.btn.btn-xs(
                    ng-click="activeCall.incomingMedia.isVideoMuted() ? activeCall.incomingMedia.unmuteVideo() : activeCall.incomingMedia.muteVideo()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.incomingMedia.isVideoMuted(), 'btn-default': activeCall.incomingMedia.isVideoMuted() }"
                )
                    i.fa.fa-play.fa-lg(ng-show="activeCall.incomingMedia.isVideoMuted()")
                    i.fa.fa-pause.fa-lg(ng-show="!activeCall.incomingMedia.isVideoMuted()")
                
