extends layout

//- Screensharing features are enabled only when the option
//- config.respoke.screenshareExtensionLink
//- is enabled

block content
    #video-call-container(ng-controller="PrivateCallController" ng-cloak)
        .chat-title.alert.alert-salmon(ng-show="errorMessage")
            h3 {{ errorMessage }}
                button.btn.btn-salmon.btn-xs.pull-right(ng-click="errorMessage = ''"): i.fa.fa-remove
        if (config.respoke.screenshareExtensionLink)
            .alert.alert-salmon.chat-title(ng-init="showPromptInstall = false" ng-show="showPromptInstall")
                button.btn.btn-salmon.btn-xs.pull-right(ng-click="showPromptInstall = false"): i.fa.fa-remove
                h3: a(href=config.respoke.screenshareExtensionLink target="_blank")
                    | Hey. <br /> You'll have to install a plugin
                    em  then refresh
                    |  before you can share your screen. &raquo;

        #respokeLocalVideo.animated.fadeIn.slower(ap-draggable ng-show="activeCall")
            .btn-group
                //- Toggle my audio
                button#toggle-audio.btn.btn-xs(
                    ng-click="activeCall.toggleAudio()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.outgoingMedia.isAudioMuted(), 'btn-default': activeCall.outgoingMedia.isAudioMuted() }"
                )
                    i.fa.fa-microphone-slash.fa-lg(ng-show="!activeCall.outgoingMedia.isAudioMuted()")
                    i.fa.fa-microphone.fa-lg(ng-show="activeCall.outgoingMedia.isAudioMuted()")
                | &nbsp;
                //- Toggle my video
                button#toggle-video.btn.btn-xs(
                    ng-click="activeCall.toggleVideo()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.outgoingMedia.isVideoMuted(), 'btn-default': activeCall.outgoingMedia.isVideoMuted() }"
                )
                    i.fa.fa-video-camera.fa-lg(ng-show="activeCall.outgoingMedia.isVideoMuted()")
                    i.fa.fa-video-camera.fa-lg(ng-show="!activeCall.outgoingMedia.isVideoMuted()")
                
                //- Share my screen
                if (config.respoke.screenshareExtensionLink)
                    
                    button.btn.btn-xs.btn-salmon(
                        ng-if="screenshareAvailable() && !isScreensharing"
                        ng-click="screenshare()"
                        ng-disabled="tryingToScreenshare"
                    )
                        i.fa.fa-desktop
                    
                    //- Stop screensharing
                    button.btn.btn-xs.btn-salmon(
                        ng-if="screenshareAvailable() && isScreensharing"
                        ng-click="stopScreenshare()"
                        ng-disabled="tryingToScreenshare"
                    )
                        i.fa.fa-cog.fa-spin(ng-show="tryingToScreenshare")
                        i.fa.fa-stop(ng-show="!tryingToScreenshare")
                
        #respokeRemoteVideo.animated.fadeIn.slower(ng-show="activeCall")
            
            

        div(ng-show="activeCall")
            include partials/chat

        #video-call-controls(ng-show="activeCall")
            button.btn.btn-xs.btn-salmon(ng-click="hangup()") Hang up
            | &nbsp;
            .btn-group
                //- Toggle remote audio
                button#toggle-audio.btn.btn-xs(
                    ng-click="activeCall.incomingMedia.isAudioMuted() ? activeCall.incomingMedia.unmuteAudio() : activeCall.incomingMedia.muteAudio()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.incomingMedia.isAudioMuted(), 'btn-default': activeCall.incomingMedia.isAudioMuted() }"
                )
                    i.fa.fa-volume-off.fa-lg(ng-show="!activeCall.incomingMedia.isAudioMuted()")
                    i.fa.fa-volume-up.fa-lg(ng-show="activeCall.incomingMedia.isAudioMuted()")
                //- Toggle remote video
                button#toggle-video.btn.btn-xs(
                    ng-click="activeCall.incomingMedia.isVideoMuted() ? activeCall.incomingMedia.unmuteVideo() : activeCall.incomingMedia.muteVideo()"
                    ng-class="{ 'btn-salmon-inverse': !activeCall.incomingMedia.isVideoMuted(), 'btn-default': activeCall.incomingMedia.isVideoMuted() }"
                )
                    i.fa.fa-video-camera.fa-lg(ng-show="activeCall.incomingMedia.isVideoMuted()")
                    i.fa.fa-video-camera.fa-lg(ng-show="!activeCall.incomingMedia.isVideoMuted()")
                
