doctype html
html
    head
        title= title
        link(
            rel='stylesheet'
            href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
        )
        - var userTheme = 'dark';
        - if (user && user.settings.theme) userTheme = user.settings.theme;
        - if (themes.indexOf(userTheme) === -1) userTheme = 'dark';
        link(rel='stylesheet' href='/css/themes/' + userTheme + '.css')
        link#favicon(rel="shortcut icon" href="/favicon.ico")
        
        include nodewebkit-scripts
        
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular-route.min.js")
        script(src=config.respokeJS)
        script(src="/js/apollo.js")

    body(ng-app="apollo" ng-controller="GlobalController")
        //- Notification Area
        .notifications(ng-cloak)
            //- When there are duplicate messages, angular will display a little error.
            //- that's actually OK, we don't need to display duplicate messages to the
            //- end user.
            .alert.alert-salmon(
                ng-repeat="notif in notifications"
                ng-class="{{ notif.class || '' }}"
            )
                | {{ notif.message || notif.error || notif }}
                button.close(data-dismiss="alert" ng-click="notifications.splice($index, 1)")
                    i.fa.fa-remove
        
        //- Main view area
        #apollo
            block content

        br
        br
        br


        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        
        //- any scripts to run at the very end of page load
        block js
